streamlit
PyPDF2
langchain
langchain_core
langchain_community
python-dotenv
aiohttp
aiosignal
altair
annotated-types
anthropic
anyio
asttokens
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
dataclasses-json
decorator
defusedxml
distro
dnspython
email_validator
executing
faiss-cpu
fastapi
fastapi-cli
filelock
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
install
ipython
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
multidict
murmurhash
mypy-extensions
numpy
openai
orjson
packaging
pandas
parso
pexpect
pillow
pip
preshed
prompt_toolkit
proto-plus
protobuf
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
setuptools
shellingham
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
tenacity
thinc
tiktoken
tokenizers
toml
toolz
tornado
tqdm
traitlets
typer
typing_extensions
typing-inspect
tzdata
ujson
uritemplate
urllib3
uvicorn
uvloop
wasabi
watchdog
watchfiles
wcwidth
weasel
websockets
wrapt
